  <div>
    <%= form.label :product_id, "Product ID" %>
    <%= form.text_field :product_id %>
  </div>
  <div>
    <%= form.label :supplier_SKU, "Supplier SKU" %>
    <%= form.text_field :supplier_SKU %>
  </div>
  <div>
    <%= form.label :manufacturer_SKU, "Manufacturer SKU" %>
    <%= form.text_field :manufacturer_SKU %>
  </div>
  <div>
    <%= form.label :short_description, "Short Description" %>
    <%= form.text_field :short_description %>
  </div>
  <div>
    <%= form.label :product_type, "Product Type"%>
    <%= form.text_field :product_type %>
  </div>
  <div>
    <%= form.submit %>
  </div>
